/* index.html */
.main-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.up-arrow {
  right: 0rem;
  bottom: 0rem;
  font-size: 3rem;
}

/* lottery.html */
.ball-list {
  display: flex;
  border: 1px solid black;
  border-radius: 50px;
  padding: 1rem;
  margin: 1rem;
}

.ball {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  line-height: 5rem;
}
